* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      /* more on this crazy alphanumerical value in a minute! */
      color: #39a6b2;
      font-family: Helvetica, Arial, sans-serif;
    }
  
  header {
    display: flex;
      padding: 10px 15px 20px 35px;
      background-color: #39a6b2;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  
  header h1 {
      font-weight: bold;
      margin: 0;
      font-size: 36px;
      color: #fce138;
  }
  
  header a {
      text-decoration: none;
      color: #fce138
  }
  
  header nav {
      margin: 7px 0;
  }
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
      margin: 0 30px;
      font-weight: lighter;
      font-size: 1.55vw;
  }
  
  footer {
      background:  #fce138;
      width: 100%;
      padding: 40px 35px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  
  footer h2 {
      color: #024e76;
      font-size: 30px;
      margin: 0;
  }
  
  footer div {
      line-height: 1.5;
      text-align: right;
  }
  
  footer a {
      color: #024e76;
  }
  .intro {
      text-align: center;
      background: white
  }
  .intro h2 {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid ;
    border-color: #fce138;
    display: inline-block;
    background-color: white;
  }

  .intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    background-color: white;
  }
  /*STEPS SECTION*/
  .steps {
      text-align: center;
      background: #fce138;
      border-bottom: #024e76;
  }

  .section-title {
   font-size: 55px;
   display: inline-block;
   padding: 0 100px 20px 100px;
   border-bottom: 3px solid #024e76;
   margin-bottom: 35px;
   color: #024e76;
   border-color: #024e76;
  }
  .step h3 {
    color: #024e76;
    font-size: 46px;
    flex: 1 30%;
  }
  .step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .step-text p {
    color: #39a6b2;
    font-size: 18px;
  }
  .step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color:#024e76;
  }
  .step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .step-img {
    flex: 1 12%;
    margin-right: 20px;
  }
  .step-img img {
    max-width: 100%;
  }
  .step-text {
    font-size: 18px;
    flex: 12;
  }
  .primary-border {
    border-color: #fce138;
  }
  
  .secondary-border {
    border-color: #39a6b2;
  }


  /* Hero Style Start */
  section {
      padding: 60px;
   }
  .hero {
      background-image: url("assets/images/hero-bg.jpg");
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    /* Hero Style End */
  .hero-form {
      background-color: #fce138;
      padding: 20px;
      color: #024e76;
      border: 3px solid #024e76;   
      width: 40%;
      margin: 3.5%;
  }
  
  .hero-form h3 {
      font-size: 24px;
      margin: 0;
  }
    
  .hero-form p {
      margin: 5px 0 15px 0;
  }
    
  .form-input {
      border: 1px solid #024e76;
      display: block;
      padding: 7px 15px;
      font-size: 16px;
      color: #024e76;
      width: 100%;
      margin-bottom: 15px;
  }
  .hero-form label {
      margin: 0 5px;
  }
  .hero-form button {
      color: #fce138;
      background-color: #024e76;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
    }
    .hero-cta {
      width: 35%;
      text-align: right;
      margin: 3.5%;
      color: #fff;
      font-size: 18px;
      line-height: 1.3;
  }
  .hero-cta h2 {
      font-style: italic;
      font-size: 55px;
      color: #fce138;
  }
    /* HERO STYLES END */

    /*TRAINER SECTION*/
    .trainer-bio h3 {
      font-size: 28px;
    }
    .trainer-bio h4 {
      font-size: 22px;
      margin-bottom: 15px;
      font-weight: lighter;
     }
    .trainer-bio {
      line-height: 1.3;
      padding: 25px;
      padding: 35px;
      overflow: auto;
      }
    .trainer {
      margin: 20px;
      flex: 1;
    }
    .trainers {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .trainer {
      margin: 20px;
      background: #024e76;
      color: #fce138;
      flex: 1;
    }
    .trainer img {
      width: 100%;
      overflow: auto;
      width: 100%;
    }

    .trainer h2 {
      color:#fce138
    }

    .trainer bio p {
      font-size: 17px;
    }
    .section-title {
      font-size: 55px;
      border-bottom: 3px solid #fce136;
      color: #024e76;
    }
/*Reach OUT STYLES START */
.contact {
  background: #024e76;
}

.contact h2 {
  color:#fce136
}
.contact-info iframe {
  width: 400px;
  height: 400px;
}
.contact-info div {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 30px 0 0 60px;
  color:white 
}
.contact-info h3 {
  color:#fce138;
  font-size: 32px;
}
.contact-info p, .contact-info address {
  margin: 20px 0;
  line-height: 32px;
  font-size: 20px;
  font-style: normal;
}

.contact-info a {
  color: #fce138;
}
/* REACH OUT STYLES END */
  /* secondary page hero */
  .hero-secondary {
    background-color: black;
    font-size: 20px;
    color: red;
  }
.page title {
  color: #fce138;
  display: inline-block;
  border-bottom: 4px solid #fce138;
  padding: 0 80px 15px 80px;
  font-weight: normal;
  font-size: 42px;
  font-style: italic;
}
.secondary-content {
  width: 80%;
  margin: 5px 0 15px 0;
  color: #024e76;
}
.secondary-content h3 {
  font-size: 25px;
  margin: 20px 0 20px 0;
}
.secondary-content p {
  font-size: 16px;
  line-height: 1.5;
  margin: 20px 0 20px 0;
}
.secondary-content ul {
  margin: 15px 20px 15px 20px;
}
.secondary-content li {
  color: #39a6b2;
  margin: 10px 0 10px 0
}
.section-title {
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}
.intro p {
  text-align: center;
}
.flex-row {
  display: flex;
}
