* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }

header {
    padding: 10px 15px 20px 35px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #fce138;
}

header a {
    text-decoration: none;
    color: #fce138
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-direction: row;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

footer {
    display: flex;
    background:  #fce138;
    width: 100%;
    padding: 40px 35px;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}
/* Hero Style Start */
section {
    padding: 60px;
    background-image: url("../images/hero-bg.jpeg");
  }
.hero {
    background-image: url("../images/hero-bg.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  /* Hero Style End */
.hero-form {
    background-color: #fce138;
    color: #024e76;
    padding: 20px;
    border: 3px solid #024e76;
    width: 40%;
    margin: 3.5%;
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}
  
.hero-form p {
    margin: 5px 0 15px 0;
}
  
.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}
.hero-form label {
    margin: 0 5px;
}
.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
  }

  .hero-cta {
      width: 35%;
      text-align: right;
      margin: 3.5%;
      color: #fff;
      font-size: 18px;
      line-height: 1.3;
  }
  .hero-cta h2 {
      font-style: italic;
      font-size: 55px;
      color: #fce138;
  }
  /* HERO STYLES END */
.section-title {
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
.intro p {
    text-align: center;
}
.step h3 {
    margin-top: ;
    flex: 1 30%;
}
.step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.step-text p {
    font-size: 18px;
}
.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color:#024e76;
}
.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.step-img {
    flex: 1 12%;
    margin-right: 20px;
}
.step-img img {
    max-width: 100%;
}
.step-text {
    flex: 12;
}

.flex-row {
    display: flex;
}
.trainer-bio h3 {
    font-size: 28px;
}
.trainer-bio h4 {
    font-size: 22px;
    margin-bottom: 15px;
}
.trainer-bio {
    line-height: 1.5;
    padding: 25px;
}
.trianer {
    margin: 20px;
    flex: 1;
}
.trainers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.trainer img {
    width: 100%;
}